@media only screen and (max-width: 1023px) {
    /* .nav-list {
        display: none;
    }

    .nav-icon {
        display: inline;
    } */

    .header-nav {
        padding: 20px 60px 0;
    }

    .work-wrapper, .about-me-wrapper, .skill-wrapper, .contact-wrapper {
        width: 85%;
    }

    .section-title {
        padding-top: 60px;
    }
}

@media only screen and (max-width: 767px) {
    h2 {
        font-size: 4em;
    }

    h4 {
        font-size: 1.2em;
    }
    p {
        font-size: 1em;
        line-height: 1;
    }

    .header-nav {
        padding: 20px 40px 0;
    }

    .work-wrapper, .about-me-wrapper, .skill-wrapper, .contact-wrapper {
        width: 90%;
    }

    .about-me-wrapper {
        margin-bottom: 60px;
    }

    .about-me-main {
        flex-direction: column;
    }

    .about-img {
        width: 30%;
    }

    .about-me-right {
        margin-top: 30px;
    }

    .about-me-desc {
        text-align: center;
    }

    .skill-logos {
        margin-top: 40px;
    }

    .skill-main {
        flex-direction: column;
        margin-top: 40px
    }

    .skill-main-left, .skill-main-right {
        margin-bottom: 20px;
    }

    .skill-desc {
        width: 90%;
    }

    #contact {
        padding-bottom: 50px;
    }

    .contact-main {
        flex-direction: column;
    }

    .contact-main-right {
        margin-top: 30px;
    }

    .contact-title {
        text-align: center;
        margin: 10px 0;
    }

    .contact-desc {
        text-align: center;
    }

    .contact-icons {
        margin-top: 30px;
    }

    .contact-main-left {
        width: 80%;
    }

    .contact-form {
        margin: 20px auto 0 auto;
    }

    .contact-btn {
        margin: 0 auto;
    }
}


@media only screen and (max-width: 480px) {
    h2 {
        font-size: 3.5em;
    }

    h4 {
        font-size: 1em;
    }
    p {
        font-size: 1em;
        line-height: 1;
    }
    /* .header-nav {
        padding: 20px 25px 0;
    } */

    .logo-container .fa-github, .nav-icon {
        font-size: 30px;
    }

    .header-btn {
        font-size: 14px;
        padding: 8px 20px;
    }

    .section-title {
        padding-top: 40px;
    }

    #work {
        padding-bottom: 50px;
    }

    .skill-wrapper {
        padding-bottom: 50px;
    }

    .contact-main-left, .contact-main-right {
        width: 90%;
    }
}