.about-me-wrapper {
    width: 80%;
    margin: 0 auto 100px;
}
.about-me-main {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.about-me-left {
    flex: 1;
}

.about-me-right {
    flex: 1;
}

.about-img {
    margin: 0 auto;
    width: 60%;
    display: block;
}

.about-me-desc {
    line-height: 1.5;
    color: #3b3b3b;
}